name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build Projects
      run: dotnet build --no-restore
      
    - name: Run Tests
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage"
    
    - name: Generate Code Coverage Summary
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: /**/TestResults/**/coverage.cobertura.xml
        badge: true
        format: markdown
        hide_branch_rate: true
        hide_complexity: true
        indicators: true
        output: both
        thresholds: '75 85'
    
    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md
        
    - name: Build ABJAD.LexEngine.Service Image
      run: docker build -t maezzedine/abjad-lex-service:latest -t maezzedine/abjad-lex-service:${{ github.run_number }} .

    - name: Login to Docker Hub
      if: github.event_name == 'push'
      uses: docker/login-action@v1
      with:
        username: maezzedine
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
  
    - name: Publish LexEngine.Service Image
      if: github.event_name == 'push'
      run: docker push maezzedine/abjad-lex-service --all-tags